# Documentation using MkDocs (https://www.mkdocs.org/)
site_name: "LQG: Inverse Optimal Control for Continuous Psychophysics"
site_url: https://rothkopflab.github.io/lqg/
repo_url: https://github.com/RothkopfLab/lqg
repo_name: RothkopfLab/lqg
copyright: Copyright &copy; 2021 - 2023 Dominik Straub
site_description: (Inverse) optimal control for linear-quadratic Gaussian systems

# Navigation
nav:
  - Home: README.md
  - Tutorials:
    - tutorials/index.md
    - Overview: tutorials/overview.ipynb
    - Data: tutorials/data.ipynb
  - API: api.md

# Material for MkDocs (https://squidfunk.github.io/mkdocs-material/)
theme:
  name: material
  icon:
    repo: octicons/mark-github-16
  logo: images/logo.png
  favicon: images/favicon.ico
  
  features:
    - navigation.expand
    - navigation.indexes
    - toc.follow
    - search.suggest
    - content.code.copy

  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue grey
      accent: teal
      toggle:
        icon: octicons/sun-16
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      accent: teal
      toggle:
        icon: octicons/moon-16
        name: Switch to light mode

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  # For callouts
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  # For grids
  - attr_list
  - md_in_html
  # For emojis
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  # Search field
  - search
  # Last updated info for pages
  - git-revision-date-localized:
      enable_creation_date: true
      type: timeago
  # Display Jupyter notebooks
  - mkdocs-jupyter:
      # Only convert, don't run the notebooks
      execute: false
      # Required for Altair/Plotly to work
      include_requirejs: true
