name: ci 
on:
  push:
    branches:
      - mkdocs

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # See https://github.com/timvink/mkdocs-git-revision-date-localized-plugin
      # - name: Copy README to docs folder
        #  run: cp README.md docs/README.md
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install \
               mkdocs-material \
               mkdocs-git-revision-date-localized-plugin \
               mkdocs-jupyter
      # - run: pip install .[dev]
      - run: mkdocs gh-deploy --force
